@import './Variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: $darkGrayColor;
    color: white;
}

.GitHubApi{
    &__headerContainer{
        height: 60px;
    }
    &__input{
        width: 50%;
        display: flex;
        position: relative;
    }
    &__header{
        height: 60px;
        background-color: $blackColor;
        position: relative;
        display: flex;
        width: 100%;
        position: fixed;
        align-items: center;
        z-index: 3;
        justify-content: center;

        button{
            z-index: 2;
            background: $greenColor;
            box-shadow: 0 0 5px 1px gray;
            border: none;
            margin-left: 5px;
            border-radius: 0 20px 20px 0;
            height: 40px;
            width: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            &:hover{
                box-shadow: 0 0 5px 3px gray;
                background: $darkGrayColor;
            }    
        }
        input{
            height: 40px;
            z-index: 3;
            width: 100%;
            font-size: 20px;
            padding: 5px;
            border-radius: 20px 0px 0px 20px;
            outline: none;
            border: none;
            box-shadow: 0 0 5px 1px gray;
            transition: 0.3s;
            &:hover, &:focus{
                box-shadow: 0 0 5px 3px gray;
            }
        }
    }

    &__unitRepos{
        width: 50%;
        border: 1px solid gray;
        box-shadow: 0 0 5px 1px gray;
        min-height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 50px 50px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        background-color: $blackColor;
        grid-gap: 5px;
        padding: 10px;
        overflow: hidden;
        min-width: 300px;
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
        .login{
            grid-column: 1;
            grid-row: 3;
            text-align: center;
            width: 100px;
            word-wrap: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            a{
                color: white;
                text-decoration: none;
            }
        }
        a{
            color: white;
            text-decoration: none;
            transition: 0.3s;
            &:hover{
                color: gray;
            }
        }
        .language{
            grid-column: 2;
            grid-row: 2;
        }
    }
    &__reposList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }
    &__history{
        position: absolute;
        z-index: 4;
        display: none;
        width: 100%;
        background-color: white;
        top: 50px;
        z-index: 1;
        border-radius: 10px;
        color: black;
        overflow: hidden;
        flex-direction: column;
        div{
            height: 35px;
            z-index: 5;
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            &:hover{
                background-color: $darkGrayColor;
                color: white;
            }
        }
    }
}

.Pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        background: none;
        color: white;
        border: 1px solid $greenColor;
        width: 40px;
        height: 40px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s;
        &:hover{
            background-color: $greenColor;
        }
    }
    p{
        padding: 10px;
    }
}